*{
  box-sizing: border-box;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

.title{
  text-align: center;
}

.mein-title{
  font-size: 35px;
  margin: 25px 0;
}

.text{
  font-size: 20px;
  margin: 10px 0;
}

.text-1{
  font-style: italic;
  margin: 30px 0;
}

.image-1{
  text-align: center;
}

.ol{
  margin: 0 30px 30px;
}